In [2]:
import pandas as pd
import numpy as np

In [3]:
ad_df = pd.read_csv('ad_placement/census-income.csv')

In [4]:
ad_df.head()

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,YEAR,INCOME_IND
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000

In [5]:
ad_df.shape

(199523, 42)

In [8]:
ad_df.columns

Index([u'AAGE', u'ACLSWKR', u'ADTIND', u'ADTOCC', u'AHGA', u'AHRSPAY',
       u'AHSCOL', u'AMARITL', u'AMJIND', u'AMJOCC', u'ARACE', u'AREORGN',
       u'ASEX', u'AUNMEM', u'AUNTYPE', u'AWKSTAT', u'CAPGAIN', u'CAPLOSS',
       u'DIVVAL', u'FILESTAT', u'GRINREG', u'GRINST', u'HHDFMX', u'HHDREL',
       u'MARSUPWT', u'MIGMTR1', u'MIGMTR3', u'MIGMTR4', u'MIGSAME', u'MIGSUN',
       u'NOEMP', u'PARENT', u'PEFNTVTY', u'PEMNTVTY', u'PENATVTY', u'PRCITSHP',
       u'SEOTR', u'VETQVA', u'VETYN', u'WKSWORK', u'YEAR', u'INCOME_IND'],
      dtype='object')

In [ ]:
import xgboost as xgb